<p id="notice"><%= notice %></p>

<h1>体験談の一覧</h1>

	<% @posts.each do |post| %>
 	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title row">
				<strong>
					<%= link_to '件名', post,:class => "col-sm-8" %>	
				</strong>
				<div class="col-sm-4 text-right">
					<%= link_to "#{post.user.name}", detail_posts_path(:user_id => post.user.id) %> さんの投稿
				</div>
			</h3>
		</div>
		<div class="panel-body">
			<%= post.content %>
		</div>
	</div>			        
	<% end %>

<br>
