<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title" textcolor="">
			<strong><%= @post.user.name %></strong> さんの投稿
		</h3>
	</div>
	<div class="panel-body">
		<%= @post.content %>
	</div>
</div>

<div align="right">
<%= link_to '編集する', edit_post_path(@post), :class => "btn btn-info"%>
<%= link_to '戻る', posts_path, :class => "btn btn-default"%>
</div>
